.cartaoImg{
    width: 30px;
    position: absolute;
    margin-left: 10px;
}

body{
    width: 90%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    width: 30%;
    position: relative;
    border-radius: 10px;
}
input{
    border-radius: 5px;
    height: 4vh;
    border: none;
    background: rgba(82, 79, 79, 0.6);
    color: white;
    outline: none;
    padding: 3px;
    transition: 8s;
    margin-bottom: 10px;
}

input:focus{
    border: 1px solid white;
}

input::-webkit-input-placeholder {
    color: black;
 }

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

button{
    background-color:rgba(0, 128, 0, .9);
    border: none;
    width: 60%;
    height: 8vh;
    border-radius: 5px;
    cursor: pointer;
}